@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Jacquarda+Bastarda+9&family=Noto+Color+Emoji&family=Pacifico&family=Rampart+One&display=swap');

body {
  background-image: url("/media/images/bacckgroundimage.jpg"); 
  font-family: "Rampart One", sans-serif;
}


.container{
    display: flex;
    justify-content: center;
    margin-top: 08%;
    border-radius: 100px 15px 100px 10px;
    background-color:#FFCED6;
    width:740px;
    height:520px;
    border: solid;
 
}

#dadTitle {
    margin-left: 10%;
      font-size: 38px;
      margin-top: 20px;
      color: #000000
    }
    
#jokeDisplay{
    color: #000000;
    font-size:30PX;
    margin-left:100px;
    margin-top:10%;
    text-align: center;
}

#jerryBear{
    margin-left: 50px;
    margin-top: -75px;
    width:260px;
    height:450px;
    
}


#getJokeBtn{
    height:50px;
    width:70px;
    margin-top: 40px;
}

