@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Jacquarda+Bastarda+9&family=Noto+Color+Emoji&family=Pacifico&family=Rampart+One&display=swap');

body {
  background-image: url("/media/images/bacckgroundimage.jpg"); 
  font-family: "Rampart One", sans-serif;
  -webkit-text-fill-color: #000000;
  text-shadow: #000000;
}


.container{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    border-radius: 100px 15px 100px 10px;
    background-color:#FFCED6;
    width:740px;
    height:520px;
    border: 4px solid #FD78AD;
 
}

#dadTitle {
    margin-left: 7%;
      font-size: 42px;
      margin-top: 20px;
      color: #000000
    }
    
#jokeDisplay{
    color: #000000;
    font-size:30PX;
    margin-left:40px;
    margin-top: 2cqh;;
    text-align: center;
    width:335px;
    font-weight: bold;
}

#jerryBear{
    margin-left: 25px;
    margin-top: -95px;
    width:260px;
    height:450px;
    
}


#getJokeBtn{
    margin-top: 1%;
    border: 3px solid #FD78AD;
    border-radius: 100px 15px 100px 10px;
    background-color:#FFCED6;
    margin-left:500px;
    height:50px;
    width:470px; 
}

