@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Croissant+One&family=Jacquarda+Bastarda+9&family=Noto+Color+Emoji&family=Pacifico&family=Rampart+One&display=swap');

body {
  background-image: url("/media/images/bacckgroundimage.jpg"); 
  font-family: "Rampart One", sans-serif;
}

h1 {
  color: purple;
  font-size: 40px;
  margin-left: 40px;
  margin-top: 30px;
}

p{
    color: purple;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 08%;
    border-radius: 100px 15px 100px 10px;
    background-color:#FFCED6;
    width:740px;
    height:520px;
    border: solid;
 
}

#jokeDisplay{
    margin-top: 30%;
}

#jerryBear{
    margin-top:40px;
    width:350px;
    height:420px;
}


#getJokeBtn{
    height:50px;
    width:70px;
    margin-top: 40px;
}

